:root {
  --bg-color: #ffffff;
  --scene-bg-color: #ebebeb;
  --text-color: #111111;
  --secondary-text-color: #444444;
  --white: #ffffff;
  --font-font-family: Arial, Helvetica, sans-serif;
  --border-radius: 4px;
  --modal-backdrop: rgba(10, 10, 10, 0.86);
  --modal-bg-color: var(--bg-color);
  --modal-text-color: var(--text-color);
  --modal-title-font-size: 16px;
  --modal-title-font-weight: bold;
  --modal-footer-text-color: #adadad;
  --modal-header-text-color: #4f4f4f;
  --tooltip-font-size: 16px;
  --tooltip-font-size-small: 12px;
  --tooltip-font-color: #777;
}
